/* Remaining issues: 

*/

body{
    background-color: beige;
    background: url("backgrounds/bg01.jpg");
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#calc{
    background-color: #191919;
    width: 215px;
    margin: auto;
    margin-top: 30px;
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(4, 55px); 
}

#display{
    grid-column: 1/5;
    grid-row: 1/2;
    background-color: #191919;
    color: #F1E8E8;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    font-size: larger;
    padding: 10px;
}
#adjust{
    grid-column: 1/4;
    grid-row: 2/3;
}
#operators{
    grid-column: 4/5;
    grid-row: 2/7;
}
#buttons{
    grid-column: 1/4;
    grid-row: 3/7;   

}
button{
    outline-style: solid;
    text-align: center;
    font-size: large;
    border: none;
    width: 50px;
    height: 50px; 
    justify-self: center;
    margin-top: 3px;
    padding: 0px;
    outline: none;
}

button.op{
    background-color: #BF7F3F;
}
button.num{
    background-color: #3F7FBF;
}
button.adj{
    background-color: #264C72;
}

button.num:active{
    background-color: #9CB5CE;
}
button.adj:active{
    background-color: #9CB5CE;
}
button.op:active{
    background-color: #BCA389;
}
